.card {
  width: 100%;
  max-width: 325px;
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
}

.card__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__count {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}

.card__btn {
  background-color: transparent;
  opacity: 0.5;
  height: 28px;
  width: 28px;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card__btn:hover {
  opacity: 1;
}

.card__btn_type_delete {
  height: 24px;
  width: 24px;
}

.card__btn_type_flip {
  height: 24px;
  width: 24px;
}

.card__btn_type_delete img {
  display: block;
  width: 16px;
  height: 16px;
}

.card__btn_type_flip img {
  display: block;
  width: 16px;
  height: 16px;
}

.card__delete-btn:hover {
  opacity: 1;
}

.card_color_green {
  background-color: #64d583;
}

.card_color_blue {
  background-color: #91a8f9;
}

.card_color_pink {
  background-color: #ee92d7;
}

.card_color_purple {
  background-color: #aa8ef0;
}

.card_color_orange {
  background-color: #ee955e;
}

.card_color_yellow {
  background-color: #f5d770;
}
