.carousel__card_color_green {
  background-color: #64d583;
}
.carousel__card_color_blue {
  background-color: #91a8f9;
}
.carousel__card_color_pink {
  background-color: #ee92d7;
}
.carousel__card_color_purple {
  background-color: #aa8ef0;
}
.carousel__card_color_orange {
  background-color: #ee955e;
}
.carousel__card_color_yellow {
  background-color: #f5d770;
}

.carousel__card_color_white {
  background-color: #ffffff;
  color: #1a1a1a;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 440px;
}

.carousel__title {
  font-weight: 500;
  font-size: 14px;
  color: #1a1a1a80;
  margin-top: 0;
  margin-bottom: 32px;
}

.carousel__card {
  width: 440px;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__card-text {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}

.carousel__btn {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 8px;
  opacity: 0.5;
  cursor: pointer;
  border: none;
  padding: 0;
}

.carousel__btn:hover {
  opacity: 1;
}

.carousel__btn_type_left {
  position: absolute;
  left: -64px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__btn_type_right {
  position: absolute;
  right: -64px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__btn_type_flip {
  margin-top: 24px;
}

.carousel__btn_disabled {
  opacity: 0.2;
}

.carousel__btn_disabled:hover {
  opacity: 0.2;
  cursor: default;
}
