.page {
  background-color: #ececec;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #1a1a1a;
  line-height: 1;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 32px;
}

.page__main-content {
  margin-top: 40px;
  flex-grow: 1;
  margin-bottom: 138px;
}

.page__main-content_location_carousel {
  margin-top: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .page {
    padding-left: 20px;
    padding-right: 20px;
  }
}
